name: Profiles Test

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '**'
      - '!**/README*'
  push:
    branches: [main]
    paths:
      - '**'
      - '!**/README*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Install flox
      uses: flox/install-flox-action@v1.0.0

    - name: Setup Nix Registry
      shell: bash
      run: |
        set -eu;
        set -o pipefail;
        nix registry pin nixpkgs github:NixOS/nixpkgs/22.11;
        flox nix registry pin nixpkgs github:NixOS/nixpkgs/22.11;


    - name: SQLite3 pkg-config Test
      shell: bash
      run: |
        set -eu;
        set -o pipefail;
        _ec=0;
        trap '_ec="$?"; echo "ERROR: code $_ec" >&2; exit "$_ec";' HUP TERM INT;

        mkdir -p ./project;
        cd ./project;

        selfURI="github:${{ github.repository }}/${{ github.sha }}";

        flox init --init-git --template "$selfURI#profile" -n sqlite-dev;
        sed -i 's/##//' ./flox.nix;
        echo '---';
        cat ./flox.nix;
        echo '---';
        EDITOR=true flox edit;

        echo "Checking if pkg-config can find sqlite" >&2;
        if flox activate -- pkg-config --list-all|grep '^sqlite3';
        then
          echo "PASS" >&2;
          exit 0;
        else
          echo "FAIL" >&2;
          echo "pkg-config --list results:" >&2;
          echo "---" >&2;
          flox activate -- pkg-config --list-all >&2;
          echo "---" >&2;
          exit 1;
        fi
