name: Profiles Test

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'templates/profile/**'
      - 'flake.nix'
      - 'flake.lock'
      - '.github/workflows/etc-profiles.yml'
  push:
    branches: [main]
    paths:
      - 'templates/profile/**'
      - 'flake.nix'
      - 'flake.lock'
      - '.github/workflows/etc-profiles.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Install flox
      uses: flox/install-flox-action@v1.0.0

    - name: Setup Nix Registry
      shell: bash
      run: |
        set -eu;
        set -o pipefail;
        nix registry pin nixpkgs github:NixOS/nixpkgs/22.11;
        flox nix registry pin nixpkgs github:NixOS/nixpkgs/22.11;


    - name: KRB5 pkg-config Test
      shell: bash
      run: |
        set -eu;
        set -o pipefail;

        mkdir -p ./krb5-dev;
        cd ./krb5-dev;

        selfURI="github:${{ github.repository }}/${{ github.sha }}";

        git init;
        flox init --template "$selfURI#profile" --name krb5-dev;
        sed -i -e 's/^}$//' ./flox.nix;
        echo '
          packages.nixpkgs-flox.krb5 = {
            meta.outputsToInstall = ["out" "dev"];
          };
        }
        ' >> ./flox.nix;

        echo '---';
        cat ./flox.nix;
        echo '---';
        EDITOR=true flox edit;

        echo "Checking if pkg-config can find krb5" >&2;
        if flox activate -- pkg-config --list-all|grep '^krb5';
        then
          echo "PASS" >&2;
          exit 0;
        else
          echo "FAIL" >&2;
          echo "pkg-config --list results:" >&2;
          echo "---" >&2;
          flox activate -- pkg-config --list-all >&2;
          echo "---" >&2;
          exit 1;
        fi
